<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<connectionStrings><add name="ChatDBEntities" connectionString="metadata=res://*/ChatDbModel.csdl|res://*/ChatDbModel.ssdl|res://*/ChatDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MS-DWL\sqlexpress;initial catalog=chatDB;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <connectionStrings>
    <add name="ChatDbEntities" connectionString="metadata=res://*/ChatDbModel.csdl|res://*/ChatDbModel.ssdl|res://*/ChatDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ms-dwl\sqlexpress;initial catalog=chatDB;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>